<div class="col-md-8 login-sec">
  <h2 class="text-center">Login</h2>
  <form class="login100-form validate-form">
    <div class="wrap-input100 validate-input">
      <span class="label-input100">Email:</span>
      <input class="input100 nameInput" type="text" name="username" placeholder="Type your username" #email required>
      <span class="focus-input100"></span>
    </div>
    <div class="wrap-input100 validate-input">
      <span class="label-input100">Password:</span>
      <input class="input100 passInput" type="password" name="pass" placeholder="Type your password" #userPassword required>
      <span class="focus-input100 password"></span>
    </div>
  </form>
  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <button class="btn-primary LoginFormBtn mr-2" [disabled]="authService.isLoggedIn" (click)="authService.SignIn(email.value, userPassword.value)">
        Login
      </button>
    </div>
  </div>
</div>

